<div class="contents">
  <div class="wrapper">
    <h1>公園一覧</h1>
    <section id="user-park-index">
    
      <!--新規登録のフラッシュメッセージ-->
        <!--<%#= flash[:park_notice] %>-->
        
        <!--バリデーションのエラーメッセージ-->
      <!--<%#= render 'layouts/error_messages', model: @park %>-->
      
      <div class="user-park-index">
        <div class="parks-sidebar">
          <!--キーワード検索-->
          <div class="search-form">
            <h2>キーワード検索</h2>
            <div class="sub-content">
              <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
              <%= f.text_field :keyword, value: @keyword %>
              <%= f.submit "検索",class:'submit-button' %>
              <% end %>
            </div>
          </div>
          
          <!--タグ検索-->
        <div id="tag-area">
          <%= render 'admin/tags/tag',park: @park %>
        </div>  
        
        <!--公園一覧-->
        <div class="parks-list">      
          <div class="park-index">
            <h2>公園一覧</h2>
            <div class="sub-content">
              <ul class="sort">
                <li><%= link_to '新着順',admin_sort_path(new: 'true') %></li>
                <li><%= link_to '古い順',admin_sort_path(old: 'true') %></li>
                <li><%= link_to '評価の高い順',admin_sort_path(raty: 'true') %></li>
              </ul>
              <p>(全<%= @parks.count %>件)</p>
              <ul class="parks">
                <% @parks.each do |park| %>
                <li>
                  <%= link_to admin_park_path(park.id),data: {"turbolinks"=>false} do %>
                    <div class="left">
                      <% if park.park_image.attached? %>
                        <%= image_tag park.park_image %>
                      <% else %>
                        <%= image_tag 'no_park_image.png' %>
                      <% end %>
                    </div>
                    <div class="right">
                      <div class="park-status">
                        <h3><%= park.park %></h3>
                        <% if park.status %>
                          <p>有効</p>
                        <% else %>
                          <p class="false">無効</p>
                        <% end %>
                      </div>
                      <!--5段階評価平均-->
                      <div class="avg-rate">
                        <p><span>評価：</span><strong><%= park.average_evaluation %></strong></p>
                        <div id="average-raty<%= park.id %>" class="raty"></div>
                      </div>
                      
                      
                      <p><%= park.address %></p>       
                      <!--タグ表示-->
                      <div class="tag-space">
                        <% park.tags.each do |tag| %>
                          <span><%= tag.tag %></span>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </li>
                <% end %>
                <%#= paginate @parks %>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </section>
  </div>
</div>


<script>
  // 公園の５段階評価平均
  <% @parks.each do |park| %>
  $('#average-raty<%= park.id %>').empty();
  
    // ratyの詳細設定
    <%= render 'admin/parks/average_raties',park: park %>
 
  <% end %>
</script>


