<div class="contents">
  <div class="wrapper">
    <!--公園詳細ページ-->
    <h1><%= @park.park %></h1>
    <section class="user-park">
      <div class="user-park-show">
      
         <!--公園情報更新のフラッシュメッセージ-->
        <%= flash[:park_notice] %>
        <!--公園ステータスのフラッシュメッセージ-->
        <%= flash[:notice] %>
        
            <!--5段階評価平均-->
        <div class="average-rate">
          <% if @park.status %>
            <span>有効</span>
          <% else %>
            <span>無効</span>
          <% end %>
          <div id="average-raty"></div>
          <p>評価：<strong><%= @park.average_evaluation %></strong>( <%= @park.reviews.count %>件)</p>
        </div>    
        <!--リンク-->
        <div class="top-links">
          <%= link_to edit_admin_park_path,class:'link-button' do %>
            <i class="bi bi-pencil-fill"></i>
            <span>編集する</span>
          <% end %>
          
          <%= link_to '公園一覧', admin_parks_path,class:'link-button' %>
        </div>
        
        <!--ActionTextによる公園詳細-->
        <div class="field">
          <%= @park.detail %>
        </div>
        
        <div class="basic-information">
          <h2>基本情報</h2>
          <!--住所-->
          <p>所在地：<%= @park.address %></p>
          <!--タグの表示-->
          <div class="tag-area">
            <% @park.tags.each do |tag| %>
              <span class="tag"><%= tag.tag %></span>
            <% end %>
          </div>
        </div>
        
        <!--Google Map API-->
        <div class="map">
          <div id="map"></div>
        </div>
        
        <div type="text/javascript">
          <script>        
            function initMap() {
    
              var test = {lat: <%= @park.latitude %>, lng: <%= @park.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: test
              });
              var transitLayer = new google.maps.TransitLayer();
              transitLayer.setMap(map);
          
              var contentString = '住所：<%= @park.address %>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });
          
              var marker = new google.maps.Marker({
                position:test,
                map: map,
                title: contentString
              });
          
              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            }
          </script>
          
        <!--APIキーあり-->
          <!--$('#map').empty();-->
          <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>
        </div>
      </div>
      <!--レビュー一覧-->
      <div class="reviews">
        <div class="review-title">
          <h2>レビュー一覧(<%= @park.reviews.count %>)</h2>
        </div>
        <div class="review-content">
          <% @park.reviews.each do |review| %>
          <div class="user-space">
            <div class="user-status">
              <% if review.user.user_image.attached? %>
                <%= image_tag review.user.user_image %>
              <% else %>
                <%= image_tag 'no_image.jpg' %>
              <% end %>
              <p><%= review.user.nickname %></p>
            </div>
            <div class="user-review">
              <div class="voice">
                <!--５段階評価表示-->
                <div class="raty" id="post_raty<%= review.id %>"></div>
                <p class="text"><%= review.review %></p>
                <p class="time"><%= review.created_at.strftime('%Y/%m/%d') %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>


<script>
  // コメントの５段階評価表示
  <% @park.reviews.each do |review| %>
  $('#post_raty<%= review.id %>').empty();
  {
    let elem = document.querySelector('#post_raty<%= review.id %>');
    let opt = {  
    //星画像の指定などのオプションをここに記述,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      readOnly: true,
      score: <%= review.evaluation || 0 %>
    };
    raty(elem,opt);
  }
  // scriptファイルをどのidの部分に配置するかを指定
  <% end %>
  
  
  // 公園の５段階評価平均
  $('#average-raty').empty();
  {
    let opt = {  
      //星画像の指定などのオプションをここに記述,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      half: true,
      readOnly: true,
      scoreName: 'park[average_evaluation]',
      score: <%= @park.average_evaluation || 0 %>,
    };
    let elem = document.querySelector('#average-raty');
    raty(elem,opt); 
  }
</script>

<!--<script src="https://maps.googleapis.com/maps/api/js?key=<%#= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>-->


