<div class="tag-area">
  <h2>タグ検索</h2>
    <div class="sub-content">
      <%= form_with model: park,url: admin_parks_path, method: :get do %>
        <ul>
          <% Tag.all.each do |tag| %>
            <li>
              <%= check_box :tag_ids, tag.tag %><%= tag.tag %>
              <%= link_to admin_tag_path(tag.id),method: :delete, remote: true, class:'destroy' do %>
                <span></span>
                <span></span>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= submit_tag '絞り込み', class:'submit-button' %>
      <% end %>
      <!--タグの追加-->
      <%= form_with url:  admin_tags_path,local: false do |f| %>
        <%= f.text_field :tag, class:'tag-text' %>
        <%= f.submit "タグを追加",class:'submit-button' %>
      <% end %>
    </div>
  </div>
</div>