<h1>公園編集</h1>

<section class="user-park">
  <div class="user-park-show">
    <%= link_to '戻る', park_path  %>
    <h2><%= @park.park %></h2>
    
    <div class="top-image">
      <% if @park.park_image.attached? %>
        <%= image_tag park.park_image %>
      <% else %>
        <%= image_tag 'no_park_image' %>
      <% end %>
    </div>
    
    <p><%= @park.address %></p>
    
    <!--レビュー一覧-->
    <div class="reviews">
      
      <!--バリデーションのエラーメッセージ-->
      <% if @review.errors.any? %>
        <%= @review.errors.count %>件のエラーが発生しました
        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    
      <p>レビュー件数：<%= @park.reviews.count %></p>
      <% @park.reviews.each do |review| %>
        <!--<p><%#= image_tag review.user.get_user_image(100,100) %></p>-->
        <div>
          <% if review.user.user_image.attached? %>
            <%= image_tag review.user.user_image %>
          <% else %>
            <%= image_tag 'no_image' %>
          <% end %>
        </div>
        <%= review.user.nickname %>
        <%= review.created_at.strftime('%Y/%m/%d') %><%= review.review %>
        
        <% if review.user == current_user %>
          <%= link_to "削除", park_review_path(review.park, review), method: :delete %>
        <% end %>
        
      <% end %>
    </div>
    <div>
      <%= form_with model: [@park, @review] do |f| %>
        <%= f.text_area :review, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
</section>
