<h1>公園一覧</h1>
<section id="user-park-index">
  <div class="user-park-index">
    <!--新規登録のフラッシュメッセージ-->
    <%= flash[:park_notice] %>
    
    <!--バリデーションのエラーメッセージ-->
    <% if @park.errors.any? %>
    <%= @park.errors.count %>件のエラーが発生しました
    <ul>
      <% @park.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
    
    <!--新規登録・絞り込み（ドロープダウン）-->
    <div class="new-park">
      <%= form_with model: @park, url: parks_path, local:true do |f| %>
        <%= f.label '公園名' %>
        <%= f.text_field :park %>
        <%= f.label '住所' %>
        <%= f.text_area :address %>
        <%= f.submit '新規登録' %>
      <% end %>
    </div>
    <!--公園一覧-->
    <div class="parks-list">
      <p>(全<%= @parks.count %>件)</p>
      <ul>
        <% @parks.each do |park| %>
        <li>
          <%= link_to park_path(park.id) do %>
            <div class="left">
              <% if park.park_image.attached? %>
                <%= image_tag park.park_image %>
              <% else %>
                <%= image_tag 'no_park_image' %>
              <% end %>
            </div>
            <div class="right">
              <h3><%= park.park %></h3>
              <p><%= park.address %></p>
            </div>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    
  </div>
</section>
