<!--公園詳細ページ-->
<h1><%= @park.park %></h1>
<section class="user-park">
  <div class="user-park-show">
    <%= link_to '編集する', edit_park_path  %>
    <%= link_to '公園一覧', parks_path  %>
     <!--公園情報更新のフラッシュメッセージ-->
    <%= flash[:park_notice] %>
    
        <!--5段階評価平均-->
    <p>評価：<%= @park.average_evaluation %></p>
    <div id="average-raty"></div>
    
    <!--トップ画像-->
    <div class="top-image">
      <% if @park.park_image.attached? %>
        <%= image_tag @park.park_image %>
      <% else %>
        <%= image_tag 'no_park_image' %>
      <% end %>
    </div>
    
    <!--住所-->
    <p><%= @park.address %></p>
    
    <!--Google Map API-->
    <h3>公園場所</h3>
      <div class="map">
      <div id="map"></div>
    </div>
    
    <!--<div type="text/javascript">-->
    <!--  <script>-->
    <!--    function initMap(){-->
    <!--      let map = new google.maps.Map(document.getElementById('map'), {-->
    <!--      center: {lat: <%#= @park.latitude || 0 %>, lng: <%#= @park.longitude || 0 %> },-->
    <!--      zoom: 15-->
    <!--      });-->
    <!--    }-->
    <!--  </script>-->
      
      <!--APIキーあり-->
      <!--<script src="https://maps.googleapis.com/maps/api/js?key=<%#= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>-->
    <!--</div>-->
    
    <!--ActionTextによる公園詳細-->
    <div class="field">
      <%= @park.detail %>
    </div>
    
    <!--タグの表示-->
    <% @park.tags.each do |tag| %>
      <span><%= tag.tag %></span>
    <% end %>
    
    <!--レビュー一覧-->
    <div class="reviews">
      <p>レビュー件数：<%= @park.reviews.count %></p>
      <div class="review-content">
        <% @park.reviews.each do |review| %>
        <div class="user-space">
          <div class="user-status">
            <% if review.user.user_image.attached? %>
              <%= image_tag review.user.user_image %>
            <% else %>
              <%= image_tag 'no_image' %>
            <% end %>
            <p><%= review.user.nickname %></p>
          </div>
          <div class="user-review">
            <div class="voice">
              <!--５段階評価表示-->
              <div class="raty" id="post_raty<%= review.id %>"></div>
              <p class="text"><%= review.review %></p>
              <p class="time"><%= review.created_at.strftime('%Y/%m/%d') %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<script>
  // コメントの５段階評価表示
  <% @park.reviews.each do |review| %>
  $('#post_raty<%= review.id %>').empty();
  {
    let elem = document.querySelector('#post_raty<%= review.id %>');
    let opt = {  
    //星画像の指定などのオプションをここに記述,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      readOnly: true,
      score: <%= review.evaluation || 0 %>
    };
    raty(elem,opt);
  }
  // scriptファイルをどのidの部分に配置するかを指定
  <% end %>
  
  
  // 公園の５段階評価平均
  $('#average-raty').empty();
  {
    let opt = {  
      //星画像の指定などのオプションをここに記述,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      half: true,
      readOnly: true,
      scoreName: 'park[average_evaluation]',
      score: <%= @park.average_evaluation || 0 %>,
    };
    let elem = document.querySelector('#average-raty');
    raty(elem,opt);
  }

</script>
