<h1><%= @park.park %></h1>
<section class="user-park">
  <div class="user-park-show">
    <%= link_to '編集する', edit_park_path  %>
    
        <!--5段階評価平均-->
    <div id="average-raty">
      <p>評価平均：<%= @park.average_evaluation %></p>
    </div>
    
    
    <div class="top-image">
      <% if @park.park_image.attached? %>
        <%= image_tag @park.park_image %>
      <% else %>
        <%= image_tag 'no_park_image' %>
      <% end %>
    </div>
    <p><%= @park.address %></p>
    
    <!--ActionTextによる公園詳細-->
    <div class="field">
      <%= @park.detail %>
    </div>
    
    <!--タグの表示-->
    <% @park.tags.each do |tag| %>
      <span><%= tag.tag %></span>
    <% end %>
    
    <!--レビュー一覧-->
    <div class="reviews">
      <p>レビュー件数：<%= @park.reviews.count %></p>
      <% @park.reviews.each do |review| %>
        <!--<p><%#= image_tag review.user.get_user_image(100,100) %></p>-->
        <div>
          <% if review.user.user_image.attached? %>
            <%= image_tag review.user.user_image %>
          <% else %>
            <%= image_tag 'no_image' %>
          <% end %>
        </div>
        <%= review.user.nickname %>
        <%= review.created_at.strftime('%Y/%m/%d') %><%= review.review %>
        
        <!--５段階評価表示-->
        <div class="raty" id="post_raty<%= review.id %>"></div>
        
      <% end %>
    </div>
  </div>
</section>

<script>
  // コメントの５段階評価表示
  <% @park.reviews.each do |review| %>
  {
    let elem = document.querySelector('#post_raty<%= review.id %>');
    let opt = {  
    //星画像の指定などのオプションをここに記述,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      readOnly: true,
      score: <%= review.evaluation || 0 %>
    };
    raty(elem,opt);
  }
  // scriptファイルをどのidの部分に配置するかを指定
  <% end %>
  
  
  // 公園の５段階評価平均
  {
    let opt = {  
      //星画像の指定などのオプションをここに記述,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      half: true,
      readOnly: true,
      scoreName: 'park[average_evaluation]',
      score: <%= @park.average_evaluation || 0 %>,
    };
    let elem = document.querySelector('#average-raty');
    raty(elem,opt);
  }

</script>
