<h1>会員新規登録</h1>

<section class=login>
  <div class="login-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      
      <div class="field">
        <%= f.label 'ニックネーム' %><br>
        <%= f.text_field :nickname %>
      </div>
    
      <div class="field">
        <%= f.label 'Eメール' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label 'パスワード' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label 'パスワード' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="rule">
        <p>利用規約</p>
        <ol>
          <li>嘘の情報を投稿してはいけません</li>
          <li>他人を誹謗中傷するレビューを投稿してはいけません</li>
          <li>テキストテキストテキストテキストテキストテキストテキストテキスト</li>
          <li>テキストテキストテキストテキストテキストテキストテキストテキスト</li>
          <li>テキストテキストテキストテキストテキストテキストテキストテキスト</li>
          <li>テキストテキストテキストテキストテキストテキストテキストテキスト</li>
        </ol>
      </div>
      <input type="checkbox" id="checkbox" name="checkbox">
      <label for="check">同意する</label>
      <div class="actions">
        <%= f.submit "登録", id: "submit", disabled: true %>
      </div>
      
    <% end %>
    <div class="login-bottom">
      <%= render "public/shared/links" %>
    </div>
  </div>
</section>
