<div class="contents">
  <div class="wrapper">
    <h1>会員新規登録</h1>
    <section class=login>
      <div class="login-content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          
          <div class="field">
            <%= f.label 'ニックネーム' %><br>
            <%= f.text_field :nickname %>
          </div>
        
          <div class="field">
            <%= f.label 'Eメール' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field">
            <%= f.label 'パスワード' %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        
          <div class="field">
            <%= f.label 'パスワード' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
          <div class="rule">
            <p>利用規約等</p>
            <div class="rule-box">
              <ol>
                <h3>編集規約</h3>
                <li>会員登録することにより、公園に関する情報を登録、編集、レビューを投稿することができます。</li>
                <li>このアプリは、未就学児の親を持つ家庭を対象にした公園レビューサイトです。よく考えて情報を投稿してください。</li>
                <li>嘘の情報や他人を誹謗中傷するレビューを書き込むことを禁止します。</li>
                <li>上記のことが発覚した場合は、管理者の判断により、投稿、レビューを削除または、必要に応じ退会処理をさせていただきます</li>
              </ol>
              <dl>
                <h3>個人情報保護方針</h3>
                <p>当アプリは、以下の通り、個人情報保護方針を定め個人情報保護の仕組みを構築し、個人情報保護の重要性の認識と取り組みを徹底し、個人情報保護を推進します。</p>
                <dt>1.個人情報の収集方法</dt>
                <dd>当アプリでは、お客様が利用登録する際に、メールアドレスなどの個人情報をお尋ねすることがあります。</dd>
                <dt>2.個人情報の収集・利用する目的</dt>
                <dd>当アプリのサービス提供・運営のため</dd>
                <dt>3.利用目的の変更</dt>
                <dd>当アプリは、利用目的が関連性のある範囲内において個人情報の利用目的を変更するものとします。利用目的の変更を行なった場合には、変更後の目的について管理人所定の方法によりお客様に通知または公表します。</dd>
                <dt>4.個人情報の第三者への開示・提供の禁止</dt>
                <dd>当アプリは、お客様よりお預かりした個人情報を適切に管理し、お客様の同意がある場合及び、法令に基づき開示することが必要である場合を除き、個人情報を第三者に開示いたしません。</dd>
                <dt>5.個人情報の利用停止（保管期間）</dt>
                <dd>当アプリは、お客様が等アプリの利用が無くなった場合に、個人情報の保管期間を原則として利用が停止してから１年間とし、安全な保管を徹底します。また、その期間にご利用がなかった場合は、安全に排除するものとします。</dd>
                <dt>6.プライバシーポリシーの変更</dt>
                <dd>当アプリは、本ポリシー内容に変更がある場合、トップページに掲載し変更のお知らせを致します。</dd>
              </dl>
            </div>
          </div>
          <div class="agree">
            <input type="checkbox" id="checkbox" name="checkbox">
            <label for="check">利用規約に同意する</label>
          </div>
          <div class="actions">
            <%= f.submit "登録", id: "submit", disabled: true %>
          </div>
        <% end %>
        <div class="login-bottom">
          <%= render "public/shared/links" %>
        </div>
      </div>
    </section>
  </div>

</div>

<script>
//-------------------
// 利用規約の同意
//-------------------
  const checkbox = document.getElementById('checkbox');
  // 送信ボタン
  const submit_btn = document.getElementById(`submit`);
  
  // チェックボックスをクリックした時
  checkbox.addEventListener("click", () => {
  // チェックボックスの入力イベント
  // checkbox.addEventListener('change',() => {
  	// チェックボックスがあれば無効化をオフ、なければオン
  	if (checkbox.checked === true) {
  		submit_btn.disabled = false;
  	} else {
  		submit_btn.disabled = true;
  	}
  });
</script>
