<div class="contents">
    <div class="wrapper">
        <h1>会員一覧</h1>
        <section id="admin-index">
            <div class="admin-index">
                
                <!--会員一覧-->
                <ul>
                    <% @users.each do |user|%>
                    <li>
                        <%= link_to admin_user_path(user) do %>
                        <div class="user-left">
                            <p><%= user.id %></p>
                            <% if user.user_image.attached? %>
                                <%= image_tag user.user_image %>
                            <% else %>
                                <%= image_tag 'no_image.jpg' %>
                            <% end %>
                        </div>
                        <div class="user-center">
                            <p><%= user.nickname %><p>
                            <p><%= user.email %><p>
                        </div>
                        <div class="user-right">
                            <% if user.is_deleted %>
                                <p>退会</p>
                            <% else %>
                                <P>有効</P>
                            <% end %>
                        </div>
                        <% end %>
                    </li>
                    <% end %> 
                </ul>
            </div>
        </section>
    </div>
</div>
        
