<div class="contents">
  <div class="wrapper">
    <h1>会員編集</h1>
    <section class="user">
      <div class="user-show">
        <!--バリデーションのエラーメッセージ-->
        <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
        
        <!--編集フォーム-->
        <%= form_with model: @user,url:info_path(@user), local:true, method: :patch do |f| %>
        <ul>
          <li>
            <%= f.label '画像' %>
            <% if @user.user_image.attached? %>
              <%= image_tag @user.user_image %>
            <% else %>
              <%= image_tag 'no_image.jpg' %>
            <% end %>
            <%= f.file_field :user_image %>
          </li>
          <li>
            <%= f.label 'ニックネーム' %>
            <%= f.text_field :nickname,class:"text" %>
          </li>
          <li>
            <%= f.label 'Eメール' %>
            <%= f.text_field :email,class:"text" %>
          </li>
          <li>
            <%#= f.label 'パスワード' %>
            <%#= f.text_area :password %>
          </li>
        </ul>
        <div class="buttons">
          <%= f.submit "編集内容を保存" %>
          <%= link_to '退会する', users_confirm_path %>
        </div>
        <% end %>
      </div>
    </section>
  </div>
</div>

