<h1>マイページ（会員詳細画面）</h1>

<h2>Public::Users#show</h2>
<section id="user-show">
    <div class="user-show">
        <h3>画像</h3>
        <% if @user.user_image.attached? %>
            <%= image_tag @user.user_image %>
        <% else %>
            <%= image_tag 'no_image' %>
        <% end %>
        <h3>ニックネーム</h3>
        <%= @user.nickname %>
        <h3>Email</h3>
        <%= @user.email%>
    </div>
    <%= link_to "編集する", info_edit_path %>
</section>
