<!DOCTYPE html>
<html>
  <head>
    <title>ParkReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'actiontext', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!--ヘッダー-->
    <%= render 'layouts/header' %>
    
    <main>
      <div id="index"></div>
      <div class="title">
        <%= image_tag('title.png')%>
      </div>
      <div class="contents">
        <div class="wrapper">
          <%= yield %>
        </div>
      </div>
    </main>
    <div id="to-top">
      <div class="to-top-content">
        <%= image_tag('to-top1.png')%>
        <span>Topへ戻る</span>
      </div>
    </div>
    <footer>
      <!--<div class="bottom"></div>-->
      <%= image_tag('footer-image1.png',class:"bottom") %>
      <div class="footer-contents">
        <nav></nav>
        <small>&copy;park_review All Right Reserved</small>
      </div>
    </footer>
  </body>
</html>
