<!DOCTYPE html>
<html>
  <head>
    <title>ParkReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <header>
      <div class="sun">
        <%= image_tag('headersun.png')%>
      </div>
      <div class="logo">
        <a href="/">
          <%= image_tag('logo.png')%> 
        </a>
      </div>
      <!--ユーザーログインの場合の表示-->
      <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to "ホーム", root_path %>
        </li>
        <li>
          <%= link_to "公園一覧", parks_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to "マイページ", user_path(current_user) %>
        </li>
      <!--管理者ログインの場合の表示-->
      <% elsif admin_signed_in?%>
        <li>
          <%= link_to "会員一覧", admin_users_path %>
        </li>
        <li>
          <%= link_to "公園一覧", admin_parks_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <!--ログアウトしている場合の表示-->
      <% else %>
        <li>
          <%= link_to "公園一覧", parks_path %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
      </ul>
    </header>
    <main>
      <div class="title">
        <%= image_tag('title.png')%>
      </div>
      <div class="contents">
        <div class="wrapper">
          <%= yield %>
        </div>
      </div>
    </main>
    <footer>
      <div class="bottom"></div>
      <div class="footer-contents">
        <nav></nav>
        <small>&copy;park_review All Right Reserved</small>
      </div>
    </footer>
  </body>
</html>
